<%# This layout is used to dynamically reload content on the page via Stimulus %>

<header><%- include('../partials/header') %></header>
<body data-controller="hello">
    <%- body %>
</body>
<footer><%- include('../partials/footer') %></footer>